{% extends "base.html" %}


{% block head %}
contact
{% endblock head %}

{% block body %}

<div class="con">

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://source.unsplash.com/1400x300/?contact,laptop" alt="First slide">
      </div>
    </div>
  </div>
</div>

<h1 class="text-center my-3">Contact Us</h1>


<!-- first form using bootstrap -->
<!-- <form>
  <div class="mb-3">
    <label for="exampleFormControlInput1">Name</label>
    <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="enter your name">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Phone</label>
    <input type="phone" class="form-control" id="exampleFormControlInput1" placeholder="enter your phone">
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Address</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form> -->





<!-- manully form by itself  -->

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
    
      <div class="card bg-dark text-whiten">
        <div class="class-body">

          <form action="">

            <div class="mb-3">
              <label for="name">Name</label>
              <input id="name" type="text" class="form-control" placeholder="enter your name...">
            </div>

            <div class="mb-3">
              <label for="email">E-Mail</label>
              <input id="email" type="email" class="form-control" placeholder="example@gmail.com">
            </div>

            <div class="mb-3">
              <label for="phone">Phone</label>
              <input id="phone" type="phone" class="form-control" placeholder="enter your phone...">
            </div>

            <div class="mb-3">
              <label for="address">Address</label>
              <textarea  name="" id="address" rows="5" class="form-control"></textarea>
            </div>

            <div class="container text-center">
              <button class="btn btn-primary">Submit</button>
            </div>
          </form>

        </div>
      </div>

    </div>
  </div>    

</div>

{% endblock body %}